xdata/
seminarska/seminarska.aux
seminarska/seminarska.log
seminarska/red_konvergence.aux
seminarska/red_konvergence.aux
predstavitev/pll.dbf
predstavitev/pll.prj
predstavitev/pll.shp
predstavitev/pll.shx
predstavitev/predstavitev.aux
predstavitev/predstavitev.log
predstavitev/predstavitev.nav
predstavitev/predstavitev.out
predstavitev/predstavitev.snm
predstavitev/predstavitev.toc
predstavitev/predstavitev.vrb
predstavitev/predstavitev.qpj